@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-trans {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 1);
}

/* In your global CSS file or as a Tailwind @apply directive */
.loader {
  @apply flex items-center justify-center w-full h-24;
  font-size: 1.5rem;
  color: #6b7280; /* Gray color */
}

.error {
  @apply text-red-500;
  font-size: 1rem;
}

/* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
